<!-- 
<div class="card">
  
  <ul style="list-style-type: none" *ngFor="let m of range">


    <li>

<mat-card>

  <mat-card-title>{{cards.name}}</mat-card-title>
  <mat-card-content>{{cards.desc}}</mat-card-content>
 
</mat-card> 
 
{{card.name}}
</li>
</ul>
</div> -->
<div class="card">

  <ul style="list-style-type: none;" *ngFor="let m of range">

 <li>


  <mat-card>


  <mat-card-title>Title</mat-card-title>
  <mat-card-content>
    Description of the transaction
  </mat-card-content>



  </mat-card>






 </li>

</ul>

</div>