.card{

    margin-bottom: 7px;
    border: 2px solid rgb(102, 54, 192);
    margin-top: none;
    margin-right: 7px;
}

#image{
    
     width:100px;
     height:100px;
     margin-left: 8px;
     
     
}