<!-- 
<div class="card">
  
  <ul style="list-style-type: none" *ngFor="let m of range">


    <li>

<mat-card>

  <mat-card-title>{{cards.name}}</mat-card-title>
  <mat-card-content>{{cards.desc}}</mat-card-content>
 
</mat-card> 
 
{{card.name}}
</li>
</ul>
</div> -->
<div class="card">

  <ul style="list-style-type: none;" *ngFor="let m of cards">

 <li>


  <mat-card>


 <!--  <mat-card-title>{{card.name}}</mat-card-title>
  <mat-card-content>
   {{card.desc}}
  </mat-card-content> -->

  <mat-card-title>hsvchcvs</mat-card-title>
  <mat-card-content>
    {{cards.name}}
  </mat-card-content>





  </mat-card>






 </li>

</ul>

</div>