ul{

    list-style-type: none;

}

ul>li{
    margin-bottom: 7px;
}

/* mat-grid-list{

    position: relative;
    left: 10px;
} */

.dialog{
    align-self: center;
    

}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  
  @media(min-width: 1024px) {
     .app-fab--absolute {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }