
<mat-sidenav-container class="example-container" >
  <mat-sidenav autosize  #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
             
      <ul>
        <li> <a href="" >Home </a></li>
        <li> <a href="" >Login</a></li>
        <li> <a href="" >Register </a></li>
        <li> <a href="" >About </a></li>
        </ul>

    </mat-sidenav>
    
    
  <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">...</button> </p>
      

      
<div class="tab" >


    <mat-tab-group style="font-size:18px">
      <mat-tab routerLink="/friends" label="Friends"><app-friend-component></app-friend-component> </mat-tab>
      <mat-tab routerLink="/groups" label="Groups"> <app-group-component></app-group-component></mat-tab>
      <mat-tab routerLink="/transactions" label="Transactions"> <app-transaction-component></app-transaction-component></mat-tab>
    </mat-tab-group>

  </div>
      
  </mat-sidenav-content>
  </mat-sidenav-container>



